        .top_nav {
            width: 100%;
            display: flex;
        }

        .content {
            width: 100%;
            height: 10px;
            color: white;
            display: none;
            text-align: center;
        }

        .nav_tab {
            display: flex;
            flex-direction: column;
            width: 33.33%;
            height: 150px;
            border: 1px solid black;
            overflow: hidden;
            text-overflow: clip;
            transition: 0.4s;
        }

        .restaurant_tab {
            background: url('food_0816_nav_restaurant.jpg') no-repeat center center;
        }

        .sfm_tab {
            background: url('') no-repeat center center;
        }

        .bistro_tab {
            background: url('ikea-hotdog-and-drink-meal__1364317249023-s21.jpg') no-repeat center center;
        }

        .nav_tab div:first-child {
            height: 90%;
            opacity: 0.5;
            transition: 0.4s;
        }

        .nav_tab:hover div:first-child {
            opacity: 1;
            transition: 0.4s;
        }

        .nav_tab:hover .nav_bar {
            background: black;
        }

        .big_width_tab {
            transition: 0.4s;
            width: 60%;
            opacity: 1;
        }

        .nav_bar {
            height: 20%;
            background: grey;
            color: white;
        }


        a:visited,
        a:active,
        a:hover {
            text-decoration: none;
        }



        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            font-family: Verdana;
        }

        img {
            vertical-align: middle;
        }
        /* Position the image container (needed to position the left and right arrows) */

        a {
            text-decoration: none;
            cursor: pointer;
        }

        li {
            display: list-item;
        }

        ul {
            list-style: none;
        }

        .news_div {
            position: relative;
        }
        /* Hide the images by default */

        .news_img {
            display: none;
        }
        /* Add a pointer when hovering over the thumbnail images */

        .cursor {
            cursor: pointer;
        }
        /* Next & previous buttons */

        .prev,
        .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
            background-color: #00C719FF;
        }
        /* Position the "next button"to theright */

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }
        /* On hover, add a black background color with a little bit see-through */

        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
        /* Number text (1/3 etc) */

        .img_text {
            color: #f2f2f2;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
        }
        /* Container for image text */

        .caption-container {
            text-align: center;
            background-color: #222;
            padding: 2px 16px;
            color: white;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        /* Six columns side by side */

        .column {
            float: left;
            width: 25%;
        }
        /* Add a transparency effect for thumnbail images */

        .demo {
            opacity: 0.6;
        }


        .active,
        .demo:hover {
            opacity: 1;
        }

        .function_tab {
            color: #969696;
            font-weight: bold;
            line-height: 24px;
            text-align: center;
            padding: 0 8px;
            border-right: 2px solid #e7e7e7;
        }


        .function_tab_g,
        .function_tab:hover {
            color: #ff6600;
        }

        .card-member-offer-list {
            font-size: 20px;
            border-bottom: 2px solid #e7e7e7;
            padding: 15px 0;
            text-align: center;
            vertical-align: baseline;
        }

        .function_list {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .menu_container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .menu {
            display: none;
            overflow: hidden;
        }